<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p></p>
                <hr>
                <p class="mb-1">“There are no mistakes, just happy accidents.” (Bob Ross)</p>
                <p class="mb-0">Oh no! Anyway.. (Top-Gear)</p>
            </div>
        </div>
    </div>